{% extends "base.html" %}

{% block content %}
    
    <h1>{{title}}</h1>
    
    <form method='post'>
       
    </form>

    <hr />

    {% if blogs|length == 0 %}

    <p>No blogs yet</p>
    {% else %}


        {% for blog in blogs %}
            <h2>
                <form>
                <a href='./blog?id={{blog.id}}'>{{blog.name}}</a>
                <input type="hidden" name="blog-id" value="{{blog.id}}" />
                </form>
            </h2>
                
            <p>{{blog.body}}</p>

            
            <p><em>written by </em> <a href='./blog?user={{blog.owner.username}}'>{{blog.owner.username}}</a></p>
            
        {% endfor %}

    {% endif %}

    <hr />

{% endblock %}